body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(236, 231, 179);
}

.header {
  width: 100%;
  display: flex;
}

.my-photo {
  width: 350px;
  height: 350px;
  margin-right: 50px;
  margin-left: 20px;
  border-radius: 50%;
}

.my-photo img {
  width: 100%;
}

.header-content {
  width: 60%;
  margin: 20px;
  margin-left: 10px;
  background-color: #d6c488;
  border: black;
  border-style:double;
  border-width: 5px;
}


.header-content-description{
  margin-left: 10px;
  font-weight: bold;
  margin-top: 25px;
}

.header-content-name
{
  margin-left: 10px;
  font-weight: bold;
}

.middle{
  text-align: center;
  margin:auto;
  padding-top: 50px;
}

section{
  display: inline-block;
}

.section-header {
  cursor: pointer;
}

.experience,
.studies,
.abilities,
.languages,
.techniques,
.personal {
  display: none; 
}

.active {
  display:block;
  margin-top: 40px;
  width: 1000px;
  height: 300px;
  background-color: #d6c488;
  border: black;
  border-style:double;
  border-width: 5px;
}

.button-console {
  background-color: #d6c488;
  font-size: 15px;
  color: black;
  width: 100px;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  position: relative;
  background-color: #d6c488;
  font-size: 25px;
  color: black;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.fecha{
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  font-size: 25px;
  margin-top: 20px;
}

.titulo{
  display: inline;
  font-weight: bold;
  text-align: left;
  margin-left: 100px;
  font-size: 20px;
  margin-top: 20px;
}

.contenido{
  font-weight: normal;
  margin-left: 290px;
  font-size: 20px;
  text-align: left;
}

.titulo2{
  display: inline;
  font-weight: bold;
  text-align: left;
  margin-left: 100px;
  font-size: 18px;
  margin-top: 20px;
}

.contenido2{
  font-weight: normal;
  margin-left: 310px;
  font-size: 20px;
  text-align: left;
}

img-social {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img-social:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}